.margin-bottom-5{
    margin-bottom: 50px;
}
.services-top{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.services-top .card{
    margin: 10px 10px;
    border: 1px solid grey inherit;
    overflow: hidden;
    width: 14rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .5s;
 
}
.services-top .card:hover{
transform: translateY(-10px);
}
.services-top .card .content{
text-align: center;
}
h1{
    
    text-align: center;
}
.services-top-1{
    margin: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.services-top-1 .box{
    box-shadow: 0 0 1.2rem rgba(0,0,0,.1);
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 20px;
   
    display: flex;
    width: 28rem;
    height: 14rem;
}
.services-top-1 .box .logo img{
    width: 15rem;
}
.services-top-1 .box .text{
  text-align: center;
}
@media screen and (max-width: 1080px){

    .services-top{
        flex-wrap: wrap;
    }
}