.services-top{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.services-top .card{
    margin: 5px 10px;
    border: 1px solid grey inherit;
    overflow: hidden;
    width: 14rem;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .5s;
}
.services-top .card:hover{
transform: translateY(-10px);
}
.services-top .card .content{
text-align: center;
}
h1{
    margin: 80px 0px 30px 0px ;
    text-align: center;
}
@media screen and (max-width: 1080px){

    .services-top{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 600px){

    .services-top{
        flex-wrap: wrap;
    }
}